body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

a {
    color: #3aafa9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #2a8d8b; 
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

h1, h2, h3, h4 {
    margin-top: 0;
    color: #333; 
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 0em;
    color: #3aafa9; 
}

h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: #3aafa9; 
}

h3 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    color: #3aafa9; 
}

h4 {
    font-size: 1em;
    margin-bottom: 1em;
    color: #333; 
}

/* Container */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

/* Header Styles */
.header-img {
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
    border: 4px solid #3aafa9; 
}

header h3 {
    text-align: center;
    font-size: 1em;
    margin-bottom: 0.5em;
    color: #333; 
}

/* Blog Cont */
.blog-content {
    margin: 20px 0;
}

.blog-content p {
    margin: 0 0 1em;
    color: #333; 
}

ul {
    list-style-type: disc;
    margin: 1em 0;
    padding-left: 20px;
}

ul li {
    margin-bottom: 0.5em;
    color: #333; 
}

/* Contact Sec */
#contact {
    padding: 20px;
    background-color: #e2e2e2;
    border-left: 5px solid #3aafa9; 
}

#contact p {
    margin: 0;
    color: #333; 
    text-align: center;
}

/* Back to Main Page  */
a.back-to-main {
    display: block;
    text-align: center;
    margin: 20px 0;
    font-size: 1em;
    color: #3aafa9;
    text-decoration: none;
}

a.back-to-main:hover {
    text-decoration: underline;
    color: #2a8d8b; 
}

/* For JS */
#fashionRole{
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
    color: #3aafa9; 
    text-align: center;
    font-size: 21px;
    line-height: 30px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

/* For Resposnive  */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 10px;
    }

    header h3 {
        font-size: 0.9em;
    }

    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.4em;
    }

    h3 {
        font-size: 1.1em;
    }

    h4 {
        font-size: 0.9em;
    }
}
