.mar{
    margin-top: 30px;
    height: 500px;
    background-color: #2b7a78;
}

video {
    width: 100%;
    height: auto;
    margin-top: -240px;
}

.video-container{
    margin-left: 16px;
    margin-top: 22px;
    width: 90%;
    height: 43%;
    border: 1px solid #333;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.h3{
    display: flex;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 0px;
    color: #feffff;
    font-family: Arial;
    font-weight: bold;
    margin-left: 20px;
    padding-top: 30px;
    text-align: center;
}

.h4{
    display: flex;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 0px;
    color: #feffff;
    font-family: Arial;
    font-weight: bold;
    margin-left: 8px;
    padding-top: 30px;
}

.hotelpic{
    height: 180px;
    margin-top: 50px;
}

.whitebg{
    background-color: black;
}

.mar2{
    margin-top: 30px;
    height: 605px;
    background-color: #2b7a78;
}

.header{  
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 0px;
    color: #feffff;
    font-family: Arial;
    font-weight: bold;
    margin-left: 50px;
    padding-top: 30px;
    text-align: center;
}

.project1{
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
    width: 350px; /* Width of the box */
    height: 420px; /* Height of the box */
    background-color: #17252a; /* Background color */
    border: 2px solid black; /* Border thickness and color */
    border-radius: 10%;
}

.project2{
    margin-top: -425px;
    margin-left: 485px;
    width: 350px; /* Width of the box */
    height: 420px; /* Height of the box */
    background-color: #17252a; /* Background color */
    border: 2px solid black; /* Border thickness and color */
    text-align: center;
    justify-content: center;
    border-radius: 10%;
}

.project3{
    text-align: center;
    justify-content: center;
    margin-left: 915px;
    margin-top: -424px;
    width: 350px; /* Width of the box */
    height: 420px; /* Height of the box */
    background-color: #17252a; /* Background color */
    border: 2px solid black; /* Border thickness and color */
    border-radius: 10%;
}

.intro{
    font-size: 100px;  
    width: 510px;                
    margin-top: 15px;
    margin-bottom: 0px;
    color: #feffff;
    font-family: Arial;
    line-height: 101px;
    font-weight: bold;
    margin-left: 50px;
    padding-top: 35px;
}

.about{
    margin-top: 20px;
    font-size: 15px;
    width: 600px;
    font-family: Arial;
    color: #feffff;
    font-weight: bold;
    margin-left: 50px;
}

.circle-image {
    margin-top: 20px;
    width: 450px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin-right: 150px;
    float:right;
    opacity: 1;
    border: 5px solid #17252a;
    box-shadow: 10px 10px 20px #0e2020;
}

.navbar {
    background-color: #2b7a78; /* Background color for the navbar */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    height: max-content;
}

.nav_container {
    display: flex;
    justify-content: space-between; /* Space out logo and menu */
    align-items: center;
}

#nav_logo {
    text-decoration: none;
    font-weight: bold;
    margin-right: 550px;
    margin-left: 30px;
    width: 50px;
    height: 50px;
    border-radius: 200%;
}

.navbar_menu {
    list-style: none; /* Remove bullet points */
    display: flex; /* Make the list items horizontal */
    margin: 0;
    padding: 0;
    justify-content: center;
}

.navbar_links li {
    margin-right: 20px;
}

.home {
    background-color: #17252a;
    color: #feffff;
    text-decoration: none;
    padding: 10px 30px;
    display: block;
    margin-right: 42px;
    margin-left: 0px;
    border-radius: 100px;
}

.proj{
    background-color: #17252a;
    color: #feffff;
    text-decoration: none;
    padding: 10px 30px;
    display: block;
    margin-right: 42px;
    border-radius: 100px;
}

.hub{
    background-color: #17252a;
    color: #feffff;
    text-decoration: none;
    padding: 10px 30px;
    display: block;
    margin-right: 42px;
    border-radius: 100px;
}

.contacts{
    background-color: #17252a;
    color: #feffff;
    text-decoration: none;
    padding: 10px 30px;
    display: block;
    border-radius: 100px;
}

.proj:hover {
    background-color: #feffff; /* Change color on hover */
    border-radius: 100px;
    color: black;
}

.hub:hover {
    background-color: #feffff; /* Change color on hover */
    border-radius: 100px;
    color: black;
}

.home:hover {
    background-color: #feffff; /* Change color on hover */
    border-radius: 100px;
    color: black;
}

.contacts:hover {
    background-color: #feffff; /* Change color on hover */
    border-radius: 100px;
    color: black;
}

.studentDev {
    margin-top: 35px;
    margin-right: 820px;
    margin-left: 190px;
    background-color: #17252a;
    color: #feffff;
    text-decoration: none;
    padding: 10px 30px;
    display: block;
    border: 1px solid #2b7a78;
    border-radius: 45px;
}
